In [1]:
import pandas as pd

# Load your dataset
df = pd.read_csv("/Users/alexnaderspude/Desktop/Desktop/TUM MMT/DTU Kurs/Group Project/Trips_2018.csv")   # change path/name as needed

# Show the structure
print("Column names:")
print(df.columns)

print("\nFirst 5 rows:")
print(df.head())

print("\nSummary info:")
print(df.info())

Column names:
Index(['Unnamed: 0', 'tripduration', 'starttime', 'stoptime',
       'start_station_id', 'start_station_latitude', 'start_station_longitude',
       'end_station_id', 'end_station_latitude', 'end_station_longitude',
       'bikeid', 'usertype', 'birth_year', 'gender'],
      dtype='object')

First 5 rows:
   Unnamed: 0  tripduration                 starttime  \
0           0           970  2018-01-01 13:50:57.4340
1           1           723  2018-01-01 15:33:30.1820
2           2           496  2018-01-01 15:39:18.3370
3           3           306  2018-01-01 15:40:13.3720
4           4           306  2018-01-01 18:14:51.5680

                   stoptime  start_station_id  start_station_latitude  \
0  2018-01-01 14:07:08.1860              72.0               40.767272
1  2018-01-01 15:45:33.3410              72.0               40.767272
2  2018-01-01 15:47:35.1720              72.0               40.767272
3  2018-01-01 15:45:20.1910              72.0               40.767272
4  2018-01-01 18:19:57.6420              72.0               40.767272

   start_station_longitude  end_station_id  end_station_latitude  \
0               -73.993929           505.0             40.749013
1               -73.993929          3255.0             40.750585
2               -73.993929           525.0             40.755942
3               -73.993929           447.0             40.763707
4               -73.993929          3356.0             40.774667

   end_station_longitude  bikeid    usertype  birth_year  gender
0             -73.988484   31956  Subscriber        1992       1
1             -73.994685   32536  Subscriber        1969       1
2             -74.002116   16069  Subscriber        1956       1
3             -73.985162   31781  Subscriber        1974       1
4             -73.984706   30319  Subscriber        1992       1

Summary info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17548339 entries, 0 to 17548338
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   tripduration             int64
 2   starttime                object
 3   stoptime                 object
 4   start_station_id         float64
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           float64
 8   end_station_latitude     float64
 9   end_station_longitude    float64
 10  bikeid                   int64
 11  usertype                 object
 12  birth_year               int64
 13  gender                   int64
dtypes: float64(6), int64(5), object(3)
memory usage: 1.8+ GB
None

In [2]:
import pandas as pd

# Load your data
df = pd.read_csv("/Users/alexnaderspude/Desktop/Desktop/TUM MMT/DTU Kurs/Group Project/Trips_2018.csv")   # <- put your file name here

# 1) Basic structure
print("Shape (rows, columns):", df.shape)
print("\nColumn names:")
print(df.columns.tolist())

print("\nData types:")
print(df.dtypes)

# 2) First rows, transposed (like your figure)
print("\nFirst rows (transposed view):")
print(df.head().T)   # head() then transpose

Shape (rows, columns): (17548339, 14)

Column names:
['Unnamed: 0', 'tripduration', 'starttime', 'stoptime', 'start_station_id', 'start_station_latitude', 'start_station_longitude', 'end_station_id', 'end_station_latitude', 'end_station_longitude', 'bikeid', 'usertype', 'birth_year', 'gender']

Data types:
Unnamed: 0                   int64
tripduration                 int64
starttime                   object
stoptime                    object
start_station_id           float64
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                   int64
gender                       int64
dtype: object

First rows (transposed view):
                                                0                         1  \
Unnamed: 0                                      0                         1
tripduration                                  970                       723
starttime                2018-01-01 13:50:57.4340  2018-01-01 15:33:30.1820
stoptime                 2018-01-01 14:07:08.1860  2018-01-01 15:45:33.3410
start_station_id                             72.0                      72.0
start_station_latitude                  40.767272                 40.767272
start_station_longitude                -73.993929                -73.993929
end_station_id                              505.0                    3255.0
end_station_latitude                    40.749013                 40.750585
end_station_longitude                  -73.988484                -73.994685
bikeid                                      31956                     32536
usertype                               Subscriber                Subscriber
birth_year                                   1992                      1969
gender                                          1                         1

                                                2                         3  \
Unnamed: 0                                      2                         3
tripduration                                  496                       306
starttime                2018-01-01 15:39:18.3370  2018-01-01 15:40:13.3720
stoptime                 2018-01-01 15:47:35.1720  2018-01-01 15:45:20.1910
start_station_id                             72.0                      72.0
start_station_latitude                  40.767272                 40.767272
start_station_longitude                -73.993929                -73.993929
end_station_id                              525.0                     447.0
end_station_latitude                    40.755942                 40.763707
end_station_longitude                  -74.002116                -73.985162
bikeid                                      16069                     31781
usertype                               Subscriber                Subscriber
birth_year                                   1956                      1974
gender                                          1                         1

                                                4
Unnamed: 0                                      4
tripduration                                  306
starttime                2018-01-01 18:14:51.5680
stoptime                 2018-01-01 18:19:57.6420
start_station_id                             72.0
start_station_latitude                  40.767272
start_station_longitude                -73.993929
end_station_id                             3356.0
end_station_latitude                    40.774667
end_station_longitude                  -73.984706
bikeid                                      30319
usertype                               Subscriber
birth_year                                   1992
gender                                          1

In [3]:
import pandas as pd

stations = pd.read_csv("/Users/alexnaderspude/Desktop/Desktop/TUM MMT/DTU Kurs/Group Project/Trips_2018.csv")

# Basic info (optional, can be in a separate cell)
stations.info()      # structure: columns + dtypes + non-null counts

# Nice table view of the first rows  (do this in its own cell)
stations.head().T    # or just stations.head() if you donâ€™t want it transposed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17548339 entries, 0 to 17548338
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   tripduration             int64
 2   starttime                object
 3   stoptime                 object
 4   start_station_id         float64
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           float64
 8   end_station_latitude     float64
 9   end_station_longitude    float64
 10  bikeid                   int64
 11  usertype                 object
 12  birth_year               int64
 13  gender                   int64
dtypes: float64(6), int64(5), object(3)
memory usage: 1.8+ GB

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
tripduration,970,723,496,306,306
starttime,2018-01-01 13:50:57.4340,2018-01-01 15:33:30.1820,2018-01-01 15:39:18.3370,2018-01-01 15:40:13.3720,2018-01-01 18:14:51.5680
stoptime,2018-01-01 14:07:08.1860,2018-01-01 15:45:33.3410,2018-01-01 15:47:35.1720,2018-01-01 15:45:20.1910,2018-01-01 18:19:57.6420
start_station_id,72.0,72.0,72.0,72.0,72.0
start_station_latitude,40.767272,40.767272,40.767272,40.767272,40.767272
start_station_longitude,-73.993929,-73.993929,-73.993929,-73.993929,-73.993929
end_station_id,505.0,3255.0,525.0,447.0,3356.0
end_station_latitude,40.749013,40.750585,40.755942,40.763707,40.774667
end_station_longitude,-73.988484,-73.994685,-74.002116,-73.985162,-73.984706
bikeid,31956,32536,16069,31781,30319
usertype,Subscriber,Subscriber,Subscriber,Subscriber,Subscriber
birth_year,1992,1969,1956,1974,1992
gender,1,1,1,1,1